.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-hero-button {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.home-about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
