.get-started-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.get-started-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.get-started-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.llm-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.llm-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
